/**
 * Responsive images
 */
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.filler-image {
  width: 100%;
  height: 100%;
}

/**
 * Tweaks
 */
.decorless-a {
  text-decoration: none !important;
  font-weight: normal !important;
  color: inherit !important;
}

/**
 * Special design banners
 */
#forkme_banner {
  padding: 10px 50px 10px 10px;
  background: url('../images/gh_cat.png') #0090ff no-repeat 95% 50%;
}

#dl_banner {
  padding: 10px 50px 10px 10px;
  background: url('../images/dl_icon.png') #0090ff no-repeat 95% 50%;
}

/**
 * Button flexboxes.
 */
.button-flex {
  display: flex;
  justify-content: center;
  margin: 5px;
  flex-wrap: wrap;
}

.button-flex-elem {
  position: relative;
  margin: 7px;
  color: #fff;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.button-flex-img {
  margin: 7px;
  position: relative;
  max-width: 300px;
  max-height: 170px;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  transition-property: transform;
  transition-duration: 200ms;
}

.button-flex-img:hover {
  transform: scale(1.01);
}

.button-flex-img-ribbon {
  position: absolute;
  bottom: 20px;
  background-color: #fff;
  font-size: 32px;
  width: 100%;
  padding: 0 10px 0 15px;
  opacity: 0.35;
}

@media screen and (max-width: 480px) {
  .button-flex-img-ribbon {
    font-size: 24px;
  }
}

@media screen and (max-width: 320px) {
  .button-flex-img-ribbon {
    font-size: 21px;
  }
}
